@import "abstrak/variabel";
@import "abstrak/mixin";

@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/animation";

@import "layout/kotak";
@import "layout/header";
@import "layout/service";
@import "layout/team";
@import "layout/footer";
@import "layout/navigation";
@import "layout/visi";

@import "component/button";
@import "component/gambar";
@import "component/project";
@import "component/card";
@import "component/form";
@import "component/loader";
@import "component/popup";

@import "page/home";