$redLight: #F53F45;
$red: #B9000C;
$redDark: #86020C;

$right: #0E76C0;

$color-white: #fff;
$color-black: #000;
$color-gray: #999;
$color-gray-medium: #666;

$default-text: #4A4A4A;

$default-font: 1.6rem;


//ukuran grid
$grid-width: 144rem;
$grid-vertical: 8rem;
$grid-vertical-small: 6rem;
$grid-horizontal: 6rem;