.section-about,
.section-service,
.section-project,
.section-team,
.section-contact,
.section-visi {
    background-color: $color-white;
    padding: 5rem 4rem;

    @include respond(tab-port) {
        padding: 4rem 2rem;
    }
}

.description {
    width: 450px;
    margin: 0 auto;

    @include respond(tab-port) {
        width: 100%;
    }
}

.footer {
    padding: 2rem 4rem;
}