.header{
    height: 100vh;
    position: relative;

    &__text-box{
        position: absolute;
        top: 60%;
        left: 40px;
        transform: translateY(-50%);
        
        @include respond(tab-port) {
            top: 60%;
        }
        
        @include respond(mobile) {
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

    }

    &__img-1{
        height: 400px;
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        z-index: 1;

        @include respond(tab-land) {
            height: 400px;
        }

        @include respond(tab-port) {
            display: none;
        }
    }

    &__logo-box{
        position: absolute;
        top: 5%;
        left: 40px;
    }

    &__logo{
        height: 12rem;
    }

}
