.kotak {
    width: 600px;
    height: 600px;
    background-color: $redLight;
    border-radius: 50%;
    position: absolute;
    top: -400px;
    left: -300px;
    z-index: -2;

    @include respond(mobile) {
        width: 550px;
        height: 550px;
    }
}