.kartu {
    perspective: 150rem;
    position: relative;
    height: 50rem;

    @include respond(mobile) {
        height: 60rem;
    }

    &__side {
        height: 50rem;
        transition: all .8s ease;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;

        @include respond(mobile) {
            height: 60rem;
        }

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
            background-image: linear-gradient(to right bottom, $redDark, $redLight);
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    //back style
    &__cta {
        @include absCenter;
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    &__price-value {
        font-size: 4.5rem;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}