.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(.5rem);
    transition: all .3s ease-in;
    opacity: 0;
    visibility: hidden;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        background-color: $color-white;
        border-radius: .2rem;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        padding: 2rem;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;

        @include respond(tab-port) {
            padding: 1rem;
            width: 90%;
        }

        @include respond(mobile) {
            padding: 1rem;
            width: 85%;
        }
    }

    &__photo {
        width: 100%;
        border-radius: .2rem;

        @include respond(mobile) {
            display: none;
        }

    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-gray;
            position: absolute;
            top: .5rem;
            right: 1rem;
            font-size: 4rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
            z-index: 999;

            @include respond(mobile) {

                font-size: 4rem;
            }
        }

        &:hover {
            color: $red;
        }
    }

    &__list {
        max-height: 22rem;
        overflow-y: scroll;
        margin-bottom: 2rem;

        &::-webkit-scrollbar {
            width: 1rem;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: .5rem;
        }
    }

    &__button {
        text-align: center;
    }
}