.project {

    &__box {
        margin: 0 20rem;
        display: block;
        position: relative;

        @include respond(tab-port) {
            margin: 0 8rem;
        }

        &--name {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-white;
            z-index: 5;
            opacity: 0;
            transition: .3s all ease-in-out;

            &:hover {
                opacity: 1;
            }

            &-1 {
                padding: 2rem;
                font-size: 3rem;
                letter-spacing: .2rem;
                font-weight: 600;
                text-align: center;

                @include respond(mobile) {
                    font-size: 1.5rem;
                }
            }

        }

        &:after {
            z-index: 2;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($color-black, .6);
            visibility: hidden;
            opacity: 0;
            transition: .3s all ease-in-out;

        }

        &:hover {
            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__photo {
        width: 100%;
    }
}