.swiper-project{
    margin-bottom: 6rem;
    transition: all .3s;
    position: relative;

    @include respond(tab-port) {
        margin-bottom: 0rem;
    }
    &__photo{
        width: 60%;
        margin-right: 8rem;

        @include respond(mobile) {
            width: 70%;
            margin-right: 2.5rem;
        }
    }

    &__text{
        text-align: left;
        font-size: 5rem;
        color: $color-black;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%,-50%);

        @include respond(mobile) {
            left: 30%;
            font-size: 3rem;
        }
        
    }

    &__back{
        content: "";
        position: absolute;
        top: 55%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%,-50%);
        filter: blur(50px);
        box-shadow: 0 6px 50px 8px rgba($redDark, 0.15);

        &--1{
            background-color: $color-gray;
            width: 50rem;
            height: 30rem;
        }
    }

    &:hover{
        transform: scale(1.1);
    }
}