.swiper-project {
    margin-bottom: 6rem;
    transition: all .3s;
    position: relative;

    @include respond(tab-port) {
        margin-bottom: 0rem;
    }

    &__photo {
        position: relative;
        left: -25%;
        margin-top: 4rem;

        @include respond(mobile) {
            width: 70%;
            margin-right: 2.5rem;
        }
    }

    &__text {
        margin-top: 4rem;
        text-align: center;
        font-size: 5rem;
        color: $color-black;

    }

    &__back {
        content: "";
        position: absolute;
        top: 55%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        filter: blur(50px);
        box-shadow: 0 6px 50px 8px rgba($redDark, 0.15);

        &--1 {
            background-color: $color-gray;
            width: 50rem;
            height: 30rem;
        }
    }

    &:hover {
        transform: scale(1.1);
    }
}

.project {

    &__box {
        margin: 0 20rem;
        display: block;
        position: relative;

        &--name {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-white;
            z-index: 5;
            opacity: 0;
            transition: .3s all ease-in-out;

            &:hover {
                opacity: 1;
            }

            &-1 {
                padding: 2rem;
                font-size: 3rem;
                letter-spacing: .2rem;
                font-weight: 600;
                text-align: center;
            }

        }

        &:after {
            z-index: 2;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 4px;
            background: rgba($color-black, .6);
            visibility: hidden;
            opacity: 0;
            transition: .3s all ease-in-out;

        }

        &:hover {
            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__photo {
        width: 100%;
    }
}