body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: $default-text;
}

.heading-primary {
    text-transform: uppercase;
    color: $red;

    &--1 {
        display: block;
        font-size: 45px;
        font-weight: 900;
        letter-spacing: 3px;
        margin-bottom: 20px;
        animation: moveInLeft 1s ease-out;
        animation-delay: 1.8s;

        @include respond(tab-port) {
            text-align: center;
        }

        @include respond(mobile) {
            font-size: 20px;
            font-weight: 800;
            letter-spacing: 1px;
            text-align: center;
        }
    }

    &--2 {
        display: block;
        font-size: 45px;
        font-weight: 300;
        letter-spacing: 10px;
        margin-bottom: 20px;
        animation: moveInRight 1s ease-out;
        animation-delay: 1.8s;

        @include respond(mobile) {
            font-size: 20px;
            text-align: center;
            letter-spacing: 4px;
        }
    }

    &--3 {
        display: block;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 3.8px;
        animation: moveInLeft 1s ease-out;
        animation-delay: 1.8s;

        @include respond(mobile) {
            font-size: 20px;
            text-align: center;
            letter-spacing: 6px;
        }
    }
}

.heading-secondary {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    display: inline-block;
    background-image: linear-gradient(to right, $redDark, $redLight);
    background-clip: text;
    color: transparent;
    transition: all .2s;

    &:hover {
        transform: scale(1.2);
        text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
        backface-visibility: hidden;
    }
}

.heading-tertiary {
    font-size: 2.5rem;
    font-weight: 700;
}

.paragraph {
    color: $color-gray;
    font-size: 2rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    &--history {
        @include respond(tab-port) {
            max-height: 10rem;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 1rem;
            }

            &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: .5rem;
            }
        }
    }
}

.judul {
    text-transform: uppercase;
    letter-spacing: 2px;

    &__main {
        text-transform: none;
        letter-spacing: 2px;
        color: $red;
        text-align: center;

        @include respond(mobile) {
            font-size: 2rem;
        }
    }

    &__sub {
        text-transform: none;
        letter-spacing: 2px;
        color: $default-text;
        text-align: left;
    }
}

.heading-line {
    width: 20rem;
    height: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    border: none;
    background-color: $red;
}

.popup-judul {
    color: $red;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: .1rem;

    &__sub {
        letter-spacing: .1rem;
        font-size: 1.8rem;
        color: $default-text;
    }

    &__sub-judul {
        text-transform: uppercase;
        font-size: 2.5rem;
        letter-spacing: .3rem;
    }

    @include respond(tab-port) {
        font-size: 2.9rem;
    }

    @include respond(mobile) {
        font-size: 2.5rem;
    }
}

.list-jabatan {
    margin-left: 4rem;
    font-size: 2.5rem;
    color: $red;
}