.u-center-text {
    text-align: center !important;
}

.u-right-text {
    text-align: right !important;
}

.u-justify-text {
    text-align: justify !important;
}

.u-padding-x-small {
    padding: 0 5rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(mobile) {
        margin-bottom: 1rem !important;
    }
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;

    @include respond(mobile) {
        margin-bottom: 4rem !important;
    }
}

.u-margin-top-medium {
    margin-top: 4rem !important;
}

.u-margin-top-xl {
    margin-top: 10rem !important;
}